<ion-header>
  <ion-toolbar>
    <ion-title>
      Timeline
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list  >
    <ion-card  *ngFor="let item of results "> 
      <ion-card-content>     
        <p>
      {{item.content }}
    </p>
    <br>
    <p>
      👍{{item.likes }}
    </p>

    <ion-button expand="block" (click)='getPost(item)' >See comments</ion-button>
  </ion-card-content>

    </ion-card>
  </ion-list>
</ion-content>
