<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="auth">
      <ion-icon name="flash"></ion-icon>
      <ion-label>Auth</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="timeline">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Timeline</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="users">
      <ion-icon name="send"></ion-icon>
      <ion-label>Users</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
