<ion-header>
    <ion-toolbar>
        <ion-title>
          POST {{results?.id}}
        </ion-title>
       
      </ion-toolbar>
  </ion-header>
  <ion-content>
    POST {{results?.content}}

  </ion-content>
