<ion-header>
  <ion-toolbar>
    <ion-title>
      Users you are following
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list  >
    <ion-card  *ngFor="let user of users "> 
      <ion-card-header>     

          {{user.username }}

      </ion-card-header>     

      <ion-card-content>     
    <p>
      {{user.fullname }}
    </p>
    <p>
      {{user.mail}} / {{user.phone}}
    </p>
    <ion-button expand="block" color='danger' (click)='follow(user.username)' >Unfollow</ion-button>

    
  </ion-card-content>

    </ion-card>
  </ion-list>
</ion-content>
